body {
background-color : #FFD5D5;
font-family : Verdana, Arial, sans-serif;
font-size : 20px;
}
a {
color : #FF8080;
text-decoration : none;
font-weight : bold;
}
a:hover {
text-decoration : underline;
}
table {
margin-left : 135px;
background-color : white;
border-style : solid;
border-width : 0.3px;
border-color : #FFAAAA;
table-layout : fixed;
width : 1200px;
}
td {
text-align : center;
}
.k {
width : 400px;
}
h5 {
font-weight : bold;
}
h5, p {
text-align : center;
padding-left : 5px;
}
.t1 {
height : 187px;
width : 1200px;
background-color : white;
margin-left : 135px;
}
.t2 {
height : 15px;
}
.t4 {
width : 50%;
padding-top : 15px;
}
.t5 {
padding-top : 20px;
text-align : left;
padding-left : 15px;
}
img.Main {
width : 1200px;
}
.sophia {
padding-top : 30px;
margin-left : 0;
text-align : left;
}
.f1 {
padding-top : 30px;
}
img {
float : left;
padding : 5px;
}
img.i2 {
float : right;
}
.i5 {
float : left;
width : 300px;
height : 250px;
}
.i10 {
float : left;
width : 250px;
height : 230px;
}
p.t7 {
text-align : left;
}
td.t8 {
width : 33%;
}
b.h1 {
color : #FF0000;
}
img.i3 {
float : left;
}
.i8 {
float : right;
width : 300px;
height : 300px;
}
.t9 {
background-color : #DCDCDC;
}
iframe {
float : left;
width : 600px;
height : 450px;
}
.t8 {
text-align : left;
}
.t10 {
padding : 15px;
}
.list {
list-style-type : none;
}
ol {
text-align : left;
}
.list2 {
font-weight : bold;
}